body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.profile {
    text-align: center;
}

#avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

#username {
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
}